.modal
  visibility: visible
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background: rgba(10, 38, 49, 0.8)
  display: flex
  justify-content: center
  align-items: center
  &--visible
    display: none
  &__form 
    position: relative
    width: 310px
    background-color: #ffffff
  &__close
    position: absolute
    top: -48px
    right: 0
    font-size: 32px
    color: #5ea5bd
    cursor: pointer
    transition: color 0.3s linear
    &:hover
      color: #d04545
